{#
	@description this script is used to finalise the default template
	@since PM (23.12.2020) 
	@see https://twig.symfony.com/doc/2.x/tags/macro.html
	@see https://learn.getgrav.org/17/themes
#}
{% extends 'partials/base.html.twig' %} {# utils is set here #}

{% block template %}default{% endblock %}
{% block header %}
	<section class="default">
		<div class="center" data-active>
			<h1>{{ page.title }}</h1>
			<button class="btn button button-color" data-scroll-to="#content">{{ "explore"|tapmorphLabel }}</button>
		</div>
	</section>
{% endblock %}
